body {
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  background:rgb(0, 0, 0);
  color:white;
}
*{
  user-select: none;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
}
button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    float: left;
}
#draggableDiv{
    z-index:-1;
    position:absolute;
    cursor: default;
    border-radius: 20px;
    height: min-content;
    width: 450px;
}
#audio-player-container {
    position:absolute;
    cursor: move;
    border-radius: 20px;
    font-style: oblique;
    color:rgb(160, 160, 160);
    background: rgb(0, 0, 0);
    height: 240px;
    width:fit-content;
    left:-2px;
    --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
}
#audio-player-container::before {
    top:80px;
    position: absolute;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(to left, #fac229a8, #0c0c0cfd);
    z-index: -1;
    border-radius: 5px;
}
#plays {
    position: absolute;
    top: -18px;
    margin: 0;
    font-size: 28px;
    font-style: oblique;
    background: rgb(0, 0, 0);
    color:rgb(250, 246, 233);
    z-index:10;
    cursor: pointer;
}
summary{
    display:flex;
}
#plays:active{    
    cursor:move;
}
#play-icon {
    margin: 20px 2.5% 10px 2.5%;
}
path {
    stroke: #806d45;
}
.time {
    width: 37px;
    text-align: center;
    font-size: 20px;
    margin: 28.5px 0 18.5px 0;
    float: left;
}
output {
    width: 32px;
    text-align: center;
    font-size: 20px;
    margin: 10px 2.5% 0 5%;
    float: left;
    clear: left;
}
#volume-slider {
    margin: 10px 2.5%;
    width: 58%;
}
#volume-slider::-webkit-slider-runnable-track {
    background: rgba(58, 58, 58, 0.6);
}
#volume-slider::-moz-range-track {
    background: rgba(58, 58, 58, 0.6);
}
#volume-slider::-ms-fill-upper {
    background: rgba(58, 58, 58, 0.6);
}
#volume-slider::before {
    background:gray;
    width: var(--volume-before-width);
}
#mute-icon {
    margin: 0 2.5%;
}
input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 48%;
    margin: 0;
    padding: 0;
    height: 19px;
    margin: 30px 2.5% 20px 2.5%;
    float: left;
    outline: none;
    background:black;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(63, 63, 63, 0.6) var(--buffered-width), rgba(63, 63, 63, 0.6) var(--buffered-width));
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #c89a2d;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #4b4b4b;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(21, 181, 0, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #007db5;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}
.imai{
  position:relative;
  padding-top:15px;
  padding-right: 40px;
  left:20px;
  display:inline-block;
  cursor: pointer;
  -webkit-user-drag: none;
}
